<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kafka.consumer.PreorderEventViewMapper">

    <insert id="upsertEventView">
        INSERT INTO preorder_event_view
        (event_id, event_name, preorder_type, start_time, end_time, device_list, created_at, updated_at)
        VALUES
            (#{eventId}, #{eventName}, #{preorderType}, #{startTime}, #{endTime}, #{deviceList}, NOW(), NOW())
            ON DUPLICATE KEY UPDATE
                                 event_name = VALUES(event_name),
                                 preorder_type = VALUES(preorder_type),
                                 start_time = VALUES(start_time),
                                 end_time = VALUES(end_time),
                                 device_list = VALUES(device_list),
                                 updated_at = NOW()
    </insert>

    <select id="selectEventView" parameterType="string" resultType="com.example.dto.PreorderEventViewModel">
        SELECT
            id,
            event_id AS eventId,
            event_name AS eventName,
            preorder_type AS preorderType,
            start_time AS startTime,
            end_time AS endTime,
            device_list AS deviceList,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM preorder_event_view
        WHERE event_id = #{eventId}
    </select>
</mapper>